<!DOCTYPE html>

<html lang="it">

<head>
    <title><% if (noIta) { %><%-watermark%> &bull; <% } %><%-it_watermark%></title>
  <meta name="author" content="SEND - Servizio Notifiche Digitali" />
  <link rel="stylesheet" href="../../styles/accessible.css">
  <bookmarks>
    <bookmark name="Template 1" href="#template1"/>
    <bookmark name="Template 1" href="#template1"/>
    <bookmark name="Template 1" href="#template1"/>
    <bookmark name="Template 1" href="#template1"/>
  </bookmarks>
</head>

<body>
  <header id="header" class="table">
    <div class="row">
      <div class="width-50 cell">
        <img src="../../images/pn-logo-header.png" class="pagopa-logo-header" alt="Logo di PagoPA S.p.A."/>
      </div>
      <div class="width-50 cell right">
        <img src="../../images/send-logo.png" class="send-logo-header" alt="Logo di SEND - Servizio Notifiche Digitali"/>
      </div>
    </div>
  </header>
  <!-- Se il footer viene messo in fondo al documento compare solo nell'ultima pagina -->
  <footer id="footer" class="table">
    <div class="row">
      <div class="cell width-50 left-footer-col">
        <p>PagoPA S.p.A.</p>
        <p>società per azioni con socio unico</p>
        <p>capitale sociale di euro 1000000 interamente versato</p>
        <p>sede legale in Roma, Piazza Colonna 370, CAP 00187</p>
        <p>n. di iscrizione a Registro Imprese di Roma, CF e P.IVA 15376371009</p>
      </div>
      <div class="cell right width-50">
        <img src="../../images/pn-logo-footer.png" alt="Logo PagoPA S.p.A."/>
      </div>
    </div>
  </footer>

  <main>
    <h1 class="document-type subject mb-0" id="subject"><% if (noIta) { %><%-subject%><br><% } %>  <%-it_subject%></h1>

    <ul style="margin-top: 6em;">
      <li style="margin-top: 2em;" class="border-bottom">
        <a href="#template1" class="no-decoration">
          <div class="table">
            <div class="row my-8 vertical-align-bottom" >
              <div class="cell  width-90 ">
                <b>Attestazione opponibile a terzi: notifica presa in carico DE</b> <br>
                Attestazione opponibile a terzi: notifica presa in carico
              </div>
              <div class="cell  width-10 vertical-align-bottom text-right">
                2
              </div>
            </div>
          </div>
        </a>
      </li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>
      <li style="margin-top: 2em;"><a href="#template2">Template 2</a></li>

    </ul>
  </main>
</body>

</html>