openapi: 3.0.3
info:
  title: API Templates Engine
  description: |
    # Interface definition for Templates Engine
  version: 1.0.0
  contact:
    name: API Support
    url: http://www.pagopa.com/support
    email: support@pagopa.com
  termsOfService: termsOfService
  x-api-id: ppr-chnnl
  x-summary: summary
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url

tags:
  - name: Template
    description: Servizi per la generazione delle mail, pdf e sms.
  - name: HealthCheck
    description: Metodo heartbeat

paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  ############################################################################################
  ###                          SuccessResponsePDF                                          ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-received-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationReceivedLegalFact
      description: Genera un documento PDF basato sul template notificationReceivedLegalFact.
      operationId: notificationReceivedLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationReceiverLegalFact'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-delivery-workflow-legal-fact:
    put:
      summary: Generazione del pdf legato al template PecDeliveryWorkflowLegalFact
      description: Genera un documento PDF basato sul template pecDeliveryWorkflowLegalFact.
      operationId: pecDeliveryWorkflowLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecDeliveryWorkflowLegalFact'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-viewed-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationViewedLegalFact
      description: Genera un documento PDF basato sul template notificationViewedLegalFact.
      operationId: notificationViewedLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationViewedLegalFact'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/malfunction-legal-fact:
    put:
      summary: Generazione del pdf legato al template MalfunctionLegalFact
      description: Genera un documento PDF basato sul template MalfunctionLegalFact.
      operationId: malfunctionLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/LegalFactMalfunction'
      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-cancelled-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationCancelledLegalFact
      description: Genera un documento PDF basato sul template notificationCancelledLegalFact.
      operationId: notificationCancelledLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationCancelledLegalFact'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/analog-delivery-workflow-failure-legal-fact:
    put:
      summary: Generazione del pdf legato al template AnalogDeliveryWorkflowFailureLegalFact
      description: Genera un documento PDF basato sul template AnalogDeliveryWorkflowFailureLegalFact.
      operationId: analogDeliveryWorkflowFailureLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/AnalogDeliveryWorkflowFailureLegalFact'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-radd-alt:
    put:
      summary: Generazione del Pdf legato al template NotificationAAR_RADDalt
      description: Genera un documento Pdf basato sul template NotificationAAR_RADDalt.
      operationId: notificationAAR_RADDalt
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAAR_RADDalt'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar:
    put:
      summary: Generazione del Pdf legato al template NotificationAAR
      description: Genera un documento Pdf basato sul template NotificationAAR.
      operationId: notificationAAR
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAAR'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                         SuccessResponseHTML      EMAIL                               ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar-for-email:
    put:
      summary: Generazione del html legato al template NotificationAARForEMAIL
      description: Genera un documento html basato sul template NotificationAARForEMAIL.
      operationId: notificationAARForEMAIL
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARForEMAIL'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-for-pec:
    put:
      summary: Generazione del html legato al template NotificationAARForPEC
      description: Genera un documento html basato sul template NotificationAARForPEC.
      operationId: notificationAARForPEC
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARForPEC'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/mail-verification-code-body:
    put:
      summary: Generazione del html legato al template MailVerificationCodeBody
      description: Genera un documento html basato sul template MailVerificationCodeBody.
      operationId: mailVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Emailbody'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-verification-code-body:
    put:
      summary: Generazione del html legato al template PecVerificationCodeBody
      description: Genera un documento html basato sul template PecVerificationCodeBody.
      operationId: pecVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Pecbody'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-success-body:
    put:
      summary: Generazione del html legato al template PecValidationContactsSuccessBody
      description: Genera un documento html basato sul template PecValidationContactsSuccessBody.
      operationId: pecValidationContactsSuccessBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Pecbody'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-reject-body:
    put:
      summary: Generazione del html legato al template PecValidationContactsRejectBody
      description: Genera un documento html basato sul template PecValidationContactsRejectBody.
      operationId: pecValidationContactsRejectBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                         SuccessResponseText   SMS                                    ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar-for-sms:
    put:
      summary: Generazione del TXT legato al template NotificationAARForSMS
      description: Genera un documento TXT basato sul template NotificationAARForSMS.
      operationId: notificationAARForSMS
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARForSMS'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/sms-verification-code-body:
    put:
      summary: Genera un documento TXT OTP di conferma SmsVerificationCodeBody
      description: Genera un documento TXT OTP di conferma SmsVerificationCodeBody.
      operationId: smsVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                         SuccessResponseText  Subjects                                ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar-subject:
    put:
      summary: Generazione del TXT legato al template NotificationAARSubject
      description: Genera un documento txt basato sul template NotificationAARSubject.
      operationId: notificationAARSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARSubject'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/mail-verification-code-subject:
    put:
      summary: Generazione del txt legato al template MailVerificationCodeSubject
      description: Genera un documento txt basato sul template MailVerificationCodeSubject.
      operationId: mailVerificationCodeSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-verification-code-subject:
    put:
      summary: Generazione del file legato al template PecVerificationCodeSubject
      description: Genera un documento TXT basato sul template PecVerificationCodeSubject.
      operationId: pecVerificationCodeSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-success-subject:
    put:
      summary: Generazione del file legato al template PecValidationContactsSuccessSubject
      description: Genera un documento TXT basato sul template PecValidationContactsSuccessSubject.
      operationId: pecValidationContactsSuccessSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-reject-subject:
    put:
      summary: Generazione del file legato al template PecValidationContactsRejectSubject
      description: Genera un documento TXT basato sul template PecValidationContactsRejectSubject.
      operationId: pecValidationContactsRejectSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'shcemas-responses.yaml#/components/responses/FailResponseInternalServerError'