openapi: 3.0.3
info:
  title: API Templates Engine
  description: |
    # Interface definition for Templates Engine
  version: 1.0.0
  contact:
    name: API Support
    url: http://www.pagopa.com/support
    email: support@pagopa.com
  termsOfService: termsOfService
  x-api-id: ppr-chnnl
  x-summary: summary
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url

tags:
  - name: PdfTemplate
    description: Servizi per la generazione delle mail, pdf e sms.
  - name: HealthCheck
    description: Metodo heartbeat

paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  /templates-engine-private/v1/templates/notification-received-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationReceivedLegalFact
      description: Genera un documento PDF basato sul template notificationReceivedLegalFact.
      operationId: notificationReceivedLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            type: string
            default: "it"
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationReceiverLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pec-delivery-workflow-legal-fact:
    put:
      summary: Generazione del pdf legato al template PecDeliveryWorkflowLegalFact
      description: Genera un documento PDF basato sul template pecDeliveryWorkflowLegalFact.
      operationId: pecDeliveryWorkflowLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            type: string
            default: "it"
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PecDeliveryWorkflowLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    PecDeliveryWorkflowLegalFact:
      type: object
      properties:
        iun:
          type: string
        endWorkflowDate:
          type: string
        delivery:
          $ref: '#/components/schemas/Delivery'

    Delivery:
      type: object
      properties:
        denomination:
          type: string
        taxId:
          type: string
        address:
          type: string

    NotificationReceiverLegalFact:
      type: object
      properties:
        sendDate:
          type: string
        notification:
          $ref: '#/components/schemas/Notification'
        digest:
          type: string
        subject:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'

    Notification:
      type: object
      properties:
        iun:
          type: string
        sender:
          $ref: '#/components/schemas/NotificationSender'

    NotificationSender:
      type: object
      properties:
        paId:
          type: string
        paDenomination:
          type: string
        paTaxId:
          type: string

    Recipient:
      type: object
      properties:
        denomination:
          type: string
        taxId:
          type: string
        digitalDomicile:
          $ref: '#/components/schemas/DigitalDomicile'

    DigitalDomicile:
      type: object
      properties:
        address:
          type: string