openapi: 3.0.3
info:
  title: API Templates Engine
  description: |
    # Interface definition for Templates Engine
  version: 1.0.0
  contact:
    name: API Support
    url: http://www.pagopa.com/support
    email: support@pagopa.com
  termsOfService: termsOfService
  x-api-id: ppr-chnnl
  x-summary: summary
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url

tags:
  - name: PdfTemplate
    description: Servizi per la generazione delle mail, pdf e sms.
  - name: HealthCheck
    description: Metodo heartbeat

paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  /templates-engine-private/v1/templates/notification-received-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationReceivedLegalFact
      description: Genera un documento PDF basato sul template notificationReceivedLegalFact.
      operationId: notificationReceivedLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationReceiverLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/pec-delivery-workflow-legal-fact:
    put:
      summary: Generazione del pdf legato al template PecDeliveryWorkflowLegalFact
      description: Genera un documento PDF basato sul template pecDeliveryWorkflowLegalFact.
      operationId: pecDeliveryWorkflowLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PecDeliveryWorkflowLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notification-viewed-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationViewedLegalFact
      description: Genera un documento PDF basato sul template notificationViewedLegalFact.
      operationId: notificationViewedLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationViewedLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/pdf-legal-fact:
    put:
      summary: Generazione del pdf legato al template PdfLegalFact
      description: Genera un documento PDF basato sul template PdfLegalFact.
      operationId: pdfLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notification-cancelled-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationCancelledLegalFact
      description: Genera un documento PDF basato sul template notificationCancelledLegalFact.
      operationId: notificationCancelledLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationCancelledLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notification-aar:
    put:
      summary: Generazione del pdf legato al template NotificationAAR
      description: Genera un documento PDF basato sul template NotificationAAR.
      operationId: notificationAAR
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationAAR'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notificationAAR_RADDalt:
    put:
      summary: Generazione del pdf legato al template NotificationAAR_RADDalt
      description: Genera un documento PDF basato sul template NotificationAAR_RADDalt.
      operationId: notificationAAR_RADDalt
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationAAR_RADDalt'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/analogDeliveryWorkflowFailureLegalFact:
    put:
      summary: Generazione del pdf legato al template AnalogDeliveryWorkflowFailureLegalFact
      description: Genera un documento PDF basato sul template AnalogDeliveryWorkflowFailureLegalFact.
      operationId: analogDeliveryWorkflowFailureLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalogDeliveryWorkflowFailureLegalFact'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notificationAARForEMAIL:
    put:
      summary: Generazione del pdf legato al template NotificationAARForEMAIL
      description: Genera un documento PDF basato sul template NotificationAARForEMAIL.
      operationId: notificationAARForEMAIL
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationAARForEMAIL'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notificationAARForPEC:
    put:
      summary: Generazione del pdf legato al template NotificationAARForPEC
      description: Genera un documento PDF basato sul template NotificationAARForPEC.
      operationId: notificationAARForPEC
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationAARForPEC'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /templates-engine-private/v1/templates/notificationAARForSMS:
    put:
      summary: Generazione del pdf legato al template NotificationAARForSMS
      description: Genera un documento PDF basato sul template NotificationAARForSMS.
      operationId: notificationAARForSMS
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/emailbody:
    put:
      summary: Generazione del pdf legato al template Emailbody
      description: Genera un documento PDF basato sul template emailbody.
      operationId: emailbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Emailbody'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbody:
    put:
      summary: Generazione del pdf legato al template Pecbody
      description: Genera un documento PDF basato sul template Pecbody.
      operationId: pecbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pecbody'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbodyconfirm:
    put:
      summary: Generazione del pdf legato al template Pecbodyconfirm
      description: Genera un documento PDF basato sul template Pecbodyconfirm.
      operationId: pecbodyconfirm
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pecbody'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbodyreject:
    put:
      summary: Generazione del pdf legato al template Pecbodyreject
      description: Genera un documento PDF basato sul template Pecbodyreject.
      operationId: pecbodyreject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/smsbody:
    put:
      summary: Genera un documento PDF OTP di conferma SMS
      description: Genera un documento PDF OTP di conferma SMS.
      operationId: smsbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: '#/components/schemas/LanguageEnum'

      responses:
        '200':
          description: Ok
          headers:
            Content-Type:
              description: Tipo di contenuto del documento
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Disposizione del contenuto per il download come allegato
              schema:
                type: string
                example: attachment; filename="document.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    LanguageEnum:
      type: string
      enum:
        - IT
        - DE
        - SL
        - FR
      default: it
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: "Lingua non supportata. Usa uno dei seguenti valori: IT, DE, SL, FR."

    Pecbody:
      type: object
      properties:
        verificationCode:
          type: string
        logoBase64:
          type: string

    Emailbody:
     type: object
     properties:
       verificationCode:
         type: string

    NotificationAARForPEC:
      type: object
      properties:
        notification:
          $ref: '#/components/schemas/Notification'
        logoBase64:
          type: string
        perfezionamentoURL:
          type: string
        quickAccessLink:
          type: string
        PNFaqSendURL:
          type: string
        piattaformaNotificheURL:
          type: string
        recipientType:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'

    NotificationAARForEMAIL:
      type: object
      properties:
        perfezionamentoURL:
          type: string
        quickAccessLink:
          type: string
        piattaformaNotificheURL:
          type: string
        sendLogoLink:
          type: string
        notification:
          $ref: '#/components/schemas/Notification'

    AnalogDeliveryWorkflowFailureLegalFact:
      type: object
      properties:
        iun:
          type: string
        endWorkflowDate:
          type: string
        endWorkflowTime:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'

    NotificationAAR_RADDalt:
      type: object
      properties:
        sendURL:
          type: string
        sendURLLAbel:
          type: string
        raddPhoneNumber:
          type: string
        perfezionamentoURL:
          type: string
        perfezionamentoURLLabel:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        piattaformaNotificheURL:
          type: string
        piattaformaNotificheURLLabel:
          type: string

    NotificationAAR:
      type: object
      properties:
        notification:
          $ref: '#/components/schemas/Notification'
        qrCodeQuickAccessLink:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        piattaformaNotificheURL:
          type: string
        piattaformaNotificheURLLabel:
          type: string
        perfezionamentoURL:
          type: string
        perfezionamentoURLLabel:
          type: string
        sendURL:
          type: string
        sendURLLAbel:
          type: string

    NotificationCancelledLegalFact:
      type: object
      properties:
        notificationCancelledDate:
          type: string
        notification:
          $ref: '#/components/schemas/Notification'
        recipient:
          $ref: '#/components/schemas/Recipient'

    PdfLegalFact:
      type: object
      properties:
        startDate:
          type: string
        timeReferenceStartDate:
          type: string
        endDate:
          type: string
        timeReferenceEndDate:
          type: string

    NotificationViewedLegalFact:
      type: object
      properties:
        iun:
          type: string
        when:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        delegate:
          $ref: '#/components/schemas/Delegate'

    Delegate:
      type: object
      properties:
        denomination:
          type: string
        taxId:
          type: string

    PecDeliveryWorkflowLegalFact:
      type: object
      properties:
        iun:
          type: string
        endWorkflowDate:
          type: string
        delivery:
          $ref: '#/components/schemas/Delivery'

    Delivery:
      type: object
      properties:
        denomination:
          type: string
        taxId:
          type: string
        address:
          type: string

    NotificationReceiverLegalFact:
      type: object
      properties:
        sendDate:
          type: string
        notification:
          $ref: '#/components/schemas/Notification'
        digest:
          type: string
        subject:
          type: string
        recipient:
          $ref: '#/components/schemas/Recipient'
        addressWriter:
          type: string

    Notification:
      type: object
      properties:
        iun:
          type: string
        subject:
          type: string
        sender:
          $ref: '#/components/schemas/NotificationSender'

    NotificationSender:
      type: object
      properties:
        paId:
          type: string
        paDenomination:
          type: string
        paTaxId:
          type: string

    Recipient:
      type: object
      properties:
        denomination:
          type: string
        taxId:
          type: string
        physicalAddress:
          type: string
        digitalDomicile:
          $ref: '#/components/schemas/DigitalDomicile'

    DigitalDomicile:
      type: object
      properties:
        address:
          type: string