openapi: 3.0.3
info:
  title: API Templates Engine
  description: |
    # Interface definition for Templates Engine
  version: 1.0.0
  contact:
    name: API Support
    url: http://www.pagopa.com/support
    email: support@pagopa.com
  termsOfService: termsOfService
  x-api-id: ppr-chnnl
  x-summary: summary
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url

tags:
  - name: PdfTemplate
    description: Servizi per la generazione delle mail, pdf e sms.
  - name: HealthCheck
    description: Metodo heartbeat

paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  ############################################################################################
  ###                          SuccessResponsePDF                                          ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-received-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationReceivedLegalFact
      description: Genera un documento PDF basato sul template notificationReceivedLegalFact.
      operationId: notificationReceivedLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationReceiverLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pec-delivery-workflow-legal-fact:
    put:
      summary: Generazione del pdf legato al template PecDeliveryWorkflowLegalFact
      description: Genera un documento PDF basato sul template pecDeliveryWorkflowLegalFact.
      operationId: pecDeliveryWorkflowLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecDeliveryWorkflowLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/notification-viewed-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationViewedLegalFact
      description: Genera un documento PDF basato sul template notificationViewedLegalFact.
      operationId: notificationViewedLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationViewedLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pdf-legal-fact:
    put:
      summary: Generazione del pdf legato al template PdfLegalFact
      description: Genera un documento PDF basato sul template PdfLegalFact.
      operationId: pdfLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PdfLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/notification-cancelled-legal-fact:
    put:
      summary: Generazione del pdf legato al template NotificationCancelledLegalFact
      description: Genera un documento PDF basato sul template notificationCancelledLegalFact.
      operationId: notificationCancelledLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationCancelledLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/analogDeliveryWorkflowFailureLegalFact:
    put:
      summary: Generazione del pdf legato al template AnalogDeliveryWorkflowFailureLegalFact
      description: Genera un documento PDF basato sul template AnalogDeliveryWorkflowFailureLegalFact.
      operationId: analogDeliveryWorkflowFailureLegalFact
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/AnalogDeliveryWorkflowFailureLegalFact'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponsePDF'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  ############################################################################################
  ###                         SuccessResponseHTML      EMAIL                               ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar:
    put:
      summary: Generazione del pdf legato al template NotificationAAR
      description: Genera un documento PDF basato sul template NotificationAAR.
      operationId: notificationAAR
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAAR'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/notificationAAR_RADDalt:
    put:
      summary: Generazione del pdf legato al template NotificationAAR_RADDalt
      description: Genera un documento PDF basato sul template NotificationAAR_RADDalt.
      operationId: notificationAAR_RADDalt
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAAR_RADDalt'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/notificationAARForEMAIL:
    put:
      summary: Generazione del pdf legato al template NotificationAARForEMAIL
      description: Genera un documento PDF basato sul template NotificationAARForEMAIL.
      operationId: notificationAARForEMAIL
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARForEMAIL'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/notificationAARForPEC:
    put:
      summary: Generazione del pdf legato al template NotificationAARForPEC
      description: Genera un documento PDF basato sul template NotificationAARForPEC.
      operationId: notificationAARForPEC
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAARForPEC'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/emailbody:
    put:
      summary: Generazione del pdf legato al template Emailbody
      description: Genera un documento PDF basato sul template emailbody.
      operationId: emailbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Emailbody'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbody:
    put:
      summary: Generazione del pdf legato al template Pecbody
      description: Genera un documento PDF basato sul template Pecbody.
      operationId: pecbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Pecbody'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbodyconfirm:
    put:
      summary: Generazione del pdf legato al template Pecbodyconfirm
      description: Genera un documento PDF basato sul template Pecbodyconfirm.
      operationId: pecbodyconfirm
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Pecbody'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecbodyreject:
    put:
      summary: Generazione del pdf legato al template Pecbodyreject
      description: Genera un documento PDF basato sul template Pecbodyreject.
      operationId: pecbodyreject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseHTML'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  ############################################################################################
  ###                         SuccessResponseText   SMS                                    ###
  ############################################################################################

  /templates-engine-private/v1/templates/notificationAARForSMS:
    put:
      summary: Generazione del pdf legato al template NotificationAARForSMS
      description: Genera un documento PDF basato sul template NotificationAARForSMS.
      operationId: notificationAARForSMS
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/Notification'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/smsbody:
    put:
      summary: Genera un documento PDF OTP di conferma SMS
      description: Genera un documento PDF OTP di conferma SMS.
      operationId: smsbody
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  ############################################################################################
  ###                         SuccessResponseText  Subjects                                ###
  ############################################################################################

  /templates-engine-private/v1/templates/NotificationAARSubject:
    put:
      summary: Generazione del TXT legato al template NotificationAARSubject
      description: Genera un documento txt basato sul template NotificationAARSubject.
      operationId: notificationAARSubject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAAR'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/emailsubject:
    put:
      summary: Generazione del txt legato al template emailsubject
      description: Genera un documento txt basato sul template emailsubject.
      operationId: emailsubject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecsubject:
    put:
      summary: Generazione del file legato al template pecsubject
      description: Genera un documento TXT basato sul template pecsubject.
      operationId: pecsubject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecsubjectconfirm:
    put:
      summary: Generazione del file legato al template pecsubjectconfirm
      description: Genera un documento TXT basato sul template pecsubjectconfirm.
      operationId: pecsubjectconfirm
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  /templates-engine-private/v1/templates/pecsubjectreject:
    put:
      summary: Generazione del file legato al template pecsubjectreject
      description: Genera un documento TXT basato sul template pecsubjectreject.
      operationId: pecsubjectreject
      tags:
        - PdfTemplate
      parameters:
        - in: header
          name: X-Language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'shcemas-errors.yaml#/components/responses/SuccessResponseText'
        "404":
          description: Indica che la richiesta con requestId non è stata trovata
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '400':
          description: Richiesta non valida - Lingua non supportata
          content:
            application/json:
              schema:
                $ref: 'schemas-params.yaml#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'