openapi: 3.0.3
info:
  title: API Templates Engine
  description: |
    # Interface definition for Templates Engine
  version: 1.0.0
  contact:
    name: API Support
    url: http://www.pagopa.com/support
    email: support@pagopa.com
  termsOfService: termsOfService
  x-api-id: tmplts-ngn
  x-summary: summary
servers:
  - url: https://api.pn.pagopa.it
    description: Generated server url

tags:
  - name: Template
    description: Servizi per la generazione delle mail, pdf e sms.
  - name: HealthCheck
    description: Stato del microservizio.

paths:
  /status:
    get:
      summary: healthCheck path
      description: health check path per verificare lo stato del micro servizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error

  ############################################################################################
  ###                                PDF Response                                          ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-received-legal-fact:
    put:
      summary: NotificationReceivedLegalFact
      description: Genera un documento PDF basato sul template notificationReceivedLegalFact.
      operationId: notificationReceivedLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationReceivedLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-delivery-workflow-legal-fact:
    put:
      summary: PecDeliveryWorkflowLegalFact
      description: Genera un documento PDF basato sul template pecDeliveryWorkflowLegalFact.
      operationId: pecDeliveryWorkflowLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecDeliveryWorkflowLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-viewed-legal-fact:
    put:
      summary: NotificationViewedLegalFact
      description: Genera un documento PDF basato sul template notificationViewedLegalFact.
      operationId: notificationViewedLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationViewedLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/malfunction-legal-fact:
    put:
      summary: MalfunctionLegalFact
      description: Genera un documento PDF basato sul template MalfunctionLegalFact.
      operationId: malfunctionLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/MalfunctionLegalFact'
      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-cancelled-legal-fact:
    put:
      summary: NotificationCancelledLegalFact
      description: Genera un documento PDF basato sul template notificationCancelledLegalFact.
      operationId: notificationCancelledLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationCancelledLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/analog-delivery-workflow-failure-legal-fact:
    put:
      summary: AnalogDeliveryWorkflowFailureLegalFact
      description: Genera un documento PDF basato sul template AnalogDeliveryWorkflowFailureLegalFact.
      operationId: analogDeliveryWorkflowFailureLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/AnalogDeliveryWorkflowFailureLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/analog-delivery-workflow-timeout-legal-fact:
    put:
      summary: AnalogDeliveryWorkflowTimeoutLegalFact
      description: Genera un documento PDF basato sul template AnalogDeliveryWorkflowTimeoutLegalFact.
      operationId: analogDeliveryWorkflowTimeoutLegalFact
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/AnalogDeliveryWorkflowTimeoutLegalFact'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-radd-alt:
     put:
      summary: NotificationAarRaddAlt
      description: Genera un documento PDF basato sul template NotificationAarRaddAlt.
      operationId: notificationAarRaddAlt
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarRaddAlt'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar:
    put:
      summary: NotificationAar
      description: Genera un documento PDF basato sul template NotificationAar.
      operationId: notificationAar
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAar'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponsePDF'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                                    HTML Response                                     ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar-for-email:
    put:
      summary: NotificationAarForEmailAnalog
      description: Genera un documento HTML basato sul template NotificationAarForEmailAnalog.
      operationId: notificationAarForEmailAnalog
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForEmailAnalog'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-for-email-digital:
    put:
      summary: NotificationAarForEmailDigital
      description: Genera un documento HTML basato sul template NotificationAarForEmailDigital.
      operationId: notificationAarForEmailDigital
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForEmailDigital'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-for-pec:
    put:
      summary: NotificationAarForPec
      description: Genera un documento HTML basato sul template NotificationAarForPec.
      operationId: notificationAarForPec
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForPec'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/mail-verification-code-body:
    put:
      summary: MailVerificationCodeBody
      description: Genera un documento HTML basato sul template MailVerificationCodeBody.
      operationId: mailVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/MailVerificationCodeBody'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-verification-code-body:
    put:
      summary: PecVerificationCodeBody
      description: Genera un documento HTML basato sul template PecVerificationCodeBody.
      operationId: pecVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecVerificationCodeBody'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-success-body:
    put:
      summary: PecValidationContactsSuccessBody
      description: Genera un documento HTML basato sul template PecValidationContactsSuccessBody.
      operationId: pecValidationContactsSuccessBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecValidationContactsBody'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-reject-body:
    put:
      summary: PecValidationContactsRejectBody
      description: Genera un documento HTML basato sul template PecValidationContactsRejectBody.
      operationId: pecValidationContactsRejectBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/PecValidationContactsBody'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-cce-for-email:
    put:
      summary: NotificationCceForEmail
      description: Genera un documento HTML basato sul template NotificationCceForEmail.
      operationId: notificationCceForEmail
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationCceForEmail'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseHTML'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                                     TXT Response                                     ###
  ############################################################################################

  /templates-engine-private/v1/templates/notification-aar-for-sms:
    put:
      summary: NotificationAarForSmsAnalog
      description: Genera un documento TXT basato sul template NotificationAarForSmsAnalog.
      operationId: notificationAarForSmsAnalog
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForSmsAnalog'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-for-sms-digital:
    put:
      summary: NotificationAarForSmsDigital
      description: Genera un documento TXT basato sul template NotificationAarForSmsDigital.
      operationId: notificationAarForSmsDigital
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForSmsDigital'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/sms-verification-code-body:
    put:
      summary: SmsVerificationCodeBody
      description: Genera un documento TXT OTP di conferma SmsVerificationCodeBody.
      operationId: smsVerificationCodeBody
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/notification-aar-for-subject:
    put:
      summary: NotificationAarForSubject
      description: Genera un documento TXT basato sul template NotificationAarForSubject.
      operationId: notificationAarForSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'
      requestBody:
        description: Parametri necessari per generare il documento
        required: true
        content:
          application/json:
            schema:
              $ref: 'schemas-params.yaml#/components/schemas/NotificationAarForSubject'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  ############################################################################################
  ###                                     TXT no input Body                                ###
  ############################################################################################

  /templates-engine-private/v1/templates/mail-verification-code-subject:
    put:
      summary: MailVerificationCodeSubject
      description: Genera un documento TXT basato sul template MailVerificationCodeSubject.
      operationId: mailVerificationCodeSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-verification-code-subject:
    put:
      summary: PecVerificationCodeSubject
      description: Genera un documento TXT basato sul template PecVerificationCodeSubject.
      operationId: pecVerificationCodeSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-success-subject:
    put:
      summary: PecValidationContactsSuccessSubject
      description: Genera un documento TXT basato sul template PecValidationContactsSuccessSubject.
      operationId: pecValidationContactsSuccessSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'

  /templates-engine-private/v1/templates/pec-validation-contacts-reject-subject:
    put:
      summary: PecValidationContactsRejectSubject
      description: Genera un documento TXT basato sul template PecValidationContactsRejectSubject.
      operationId: pecValidationContactsRejectSubject
      tags:
        - Template
      parameters:
        - in: header
          name: x-language
          description: Lingua del documento
          required: true
          schema:
            $ref: 'schemas-params.yaml#/components/schemas/LanguageEnum'

      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/SuccessResponseText'
        '400':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseBadRequest'
        '500':
          $ref: 'schemas-responses.yaml#/components/responses/FailResponseInternalServerError'


### API TO GENERATE BASE64 QRCODE ####
  /templates-engine-private/v1/qrcode-generator:
    get:
      summary: generate base64 qrcode
      description: generazione del qrcode in base64
      tags:
        - QrCodeGenerator
      operationId: qrcodegenerator
      parameters:
        - name: url
          in: query
          required: true
          description: url
          schema:
            type: string
      responses:
        '200':
          $ref: 'schemas-responses.yaml#/components/responses/ResponseQrCode'
        '500':
          description: Internal Server Error
