HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
templates-assets/templates/.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.history
.vscode
target

### Template Builder ###
templates-assets/templates/Mail_VerificationCodeBody/index.html
templates-assets/templates/PEC_ValidationContactsRejectBody/index.html
templates-assets/templates/PEC_ValidationContactsSuccessBody/index.html
templates-assets/templates/PEC_VerificationCodeBody/index.html
templates-assets/templates/NotificationAARForEMAIL/index.html
templates-assets/templates/NotificationAARForPEC/index.html
/src/main/resources/generated-templates-assets
/src/test/resources/generated-templates-assets
