<!DOCTYPE html>

<html lang="it">

<head>
    <meta name="author" content="SEND - Servizio Notifiche Digitali" />
    <title><% if (noIta) { %><%-subject%> &bull; <% } %><%-it_subject%></title>
    <link rel="stylesheet" href="../../styles/accessible.css">
    <bookmarks>
      <bookmark name="Oggetto dell'attestazione" href="#subject"/>
      <bookmark name="Firma" href="#signature"/>
    </bookmarks>
    <style>
        .html-description, .html-description + p {
            display: inline;
        }
        .html-description + p + ul {
            margin: 1rem 0 1rem 1rem;
         }
    </style>
</head>

<body>
    <header id="header" class="table">
     <div class="row">
       <div class="width-50 cell">
        <img src="../../images/pn-logo-header.png" alt="Logo di PagoPA S.p.A." style="width:126px; height:35px" />
      </div>
      <div class="width-50 cell right">
        <img src="../../images/send-logo.png" alt="Logo di SEND - Servizio Notifiche Digitali" style="width:81px; height:26.24px;" />
      </div>
     </div>
    </header>
    <!-- Se il footer viene messo in fondo al documento compare solo nell'ultima pagina -->
    <footer id="footer" class="table">
      <div class="row">
        <div class="cell width-50 left-footer-col">
          <p>PagoPA S.p.A.</p>
          <p>società per azioni con socio unico</p>
          <p>capitale sociale di euro 1000000 interamente versato</p>
          <p>sede legale in Roma, Piazza Colonna 370, CAP 00187</p>
          <p>n. di iscrizione a Registro Imprese di Roma, CF e P.IVA 15376371009</p>
        </div>
        <div class="cell right width-50">
          <img src="../../images/pn-logo-footer.png" alt="Logo PagoPA S.p.A."/>
        </div>
      </div>
    </footer>

    <main>
       <h1 class="document-type subject mb-0" id="subject">
        <% if (noIta) { %><%-subject%><br><% } %>  <%-it_subject%>
      </h1>

      <% if (noIta) { %><p class="paragraph my-8">
            <%-body1%>
        </p><% } %>
        <% if (noIta) { %><p class="paragraph my-8">
            <%-body2%>
        </p><% } %>

        <p class="paragraph mb-0">
            <%-it_body1%>
        </p>
        <div class="paragraph my-8">
            <p class="html-description">
                <%-it_body2%>
            </p>
        </div>

        <div class="margin-top-large table" id="signature">
          <div class="row">
            <div class="cell width-10" aria-hidden="true"></div>
            <div class="cell width-90 right">
              <p class="py-16"><% if (noIta) { %><span><%-signature%> &bull; </span><% } %><%-it_signature%></p>
            </div>
          </div>
      </div>
      <% if (noIta) { %>
      <div class="table">
          <div class="row">
            <div class="cell width-40" aria-hidden="true"></div>
            <div class="margin-top-large cell width-60 right">
              <% if (noIta) { %><p class="py-16"><%-disclaimer_lang%></p><% } %>
              <% if (noIta) { %><p><%-it_disclaimer_lang%></p><% } %>
            </div>
          </div>
      </div>
      <% } %>
    </main>
</body>

</html>