<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="SEND - Servizio Notifiche Digitali">
    <title>Avviso di Avvenuta Ricezione</title>
    <link rel="stylesheet" href="../../styles/aar_accessible.css">
</head>

<body>
    <main>
        <!--------------------------- PAGE 1 (297mm x 192mm) --------------------------->
        <section id="first-page">
            <section id="upper-section">
                <div class="fixed-table">
                    <div class="row">
                        <div class="cell width-40 vertical-align-top" id="sender_box">
                            <#if senderLogoBase64??>
            
                                <div class="nine-pt">
                                    <p class="six-pt eight-lh">COMUNICAZIONE A VALORE LEGALE</p>
                                    <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                                    <div id="sender_logo">
                                        <img src="${senderLogoBase64}" alt="Logo di ${notification.sender.paDenomination}">
                                    </div>
                                </div>
                            <#else>
                        
                                <div class="nine-pt">
                                    <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                                    <div id="legal_subtitle">
                                        <p class="six-pt">COMUNICAZIONE A VALORE<br>LEGALE</p>
                                    </div>
                                </div>
                            </#if>
                        </div>
                        
                        <div class="cell width-60" id="iun_send">
                            <div class="row iun_send_row">
                                <div id="iun_box" class="iun_box nine-pt cell vertical-align-bottom width-60">
                                    <h6 class="font-bold">Identificativo Univoco Notifica:</h6>
                                    <p>${notification.iun}</p>
                                    <h6 class="font-bold">Codice fiscale - Persona <#if recipient.recipientType=="PF">fisica<#else>giuridica</#if>: </h6>
                                    <p>${recipient.taxId}</p>
                                </div>
                                <div id="send_box" class="eight-pt cell vertical-align-bottom">
                                    <p class="nine-pt logo-prefix">Inviata tramite</p>
                                    <img id="send_box__logo" src="../../images/aar-logo.gif" alt="Logo di SEND - Servizio Notifiche Digitali"/>
                                    <p id="send_box_site" class="eight-pt font-bold"><a class="black"
                                            href="https://www.notifichedigitali.it/">notifichedigitali.it</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="recipient-addr-box">
                        <!-- Si lascia lo spazio per l'indirizzo che verra' inserito dal consolidatore -->
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </section>

            <section id="center-section">
                <h1 id="main_subject" class="twelve-pt sixteen-lh">Hai ricevuto una comunicazione a valore legale da <b>${notification.sender.paDenomination}</b> con oggetto: <b>${notification.subject}</b></h1>
                <div id="main_disclaimer" class="eleven-pt sixteen-lh">
                    <p><b>Prendi visione della copia dei documenti allegati o accedi ai documenti originali online</b> seguendo
                        le istruzioni. Tieni presente che il contenuto della comunicazione produrrà effetti giuridici
                        nei tuoi confronti anche senza la tua presa visione dei documenti.
                    </p>
                </div>
                <div id="view_online_box">
                    <div class="table">
                        <div class="row heading">
                            <div class="cell"><h2 class="font-uppercase twelve-pt">Accedi ora ai documenti online</h2></div>
                            <div class="cell text-right nine-pt">Consultazione online gratuita</div>
                        </div>
                    </div>
                </div>

                <div class="table list-box-height_qr_code_box">
                    <div class="row">
                        <div class="cell vertical-align-center qr_code_box">
                            <img alt="Il codice QR per accedere alla notifica SEND" id="qr-code" src="${qrCodeQuickAccessLink}" />
                        </div>
                        <div class="cell vertical-align-center access_online_box">
                            <div class="section-list">
                                <!--
                                    Related to https://pagopa.atlassian.net/browse/PN-14670
                                    we use hard-coded link in order to fix this bug. Anyway this part is commented
                                    because we will restore it as soon as we migrate configurations of templates
                                    in pn-templates-engine

                                    #Sarah Donvito, 18/04/2025

                                <li class="list_element-one">
                                    Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure
                                    vai sul sito web <b><a
                                            href="${piattaformaNotificheURL}auth/login">${piattaformaNotificheURLLabel}</a></b>
                                </li>
                                -->
                                <div class="table">
                                    <#if recipient.recipientType=="PF">
                                    <div class="row">
                                        <div class="cell number-list"><img src="../../images/numero-1.png" alt="Numero 1"></div>
                                        <div class="cell vertical-align-top">
                                            <p>Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure vai sul sito web <b><a href="https://login.notifichedigitali.it/auth/login">login.notifichedigitali.it</a></b></p>
                                        </div>
                                    </div>
                                    <#else>
                                    <div class="row">
                                        <div class="cell number-list"><img src="../../images/numero-1.png" alt="Numero 1"></div>
                                        <div class="cell vertical-align-top">
                                            <p>Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure vai sul sito web <b><a href="${piattaformaNotificheURL}auth/login">${piattaformaNotificheURLLabel}</a></b></p>
                                        </div>
                                    </div>
                                    </#if>
                                    <div class="row">
                                        <div class="cell number-list"><img src="../../images/numero-2.png" alt="Numero 2"></div>
                                        <div class="cell vertical-align-top">
                                            <p>Accedi e scarica i documenti: contengono informazioni importanti che ti riguardano</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell number-list"><img src="../../images/numero-3.png" alt="Numero 3"></div>
                                        <div class="cell vertical-align-top">
                                            <p>Se previsto un pagamento, potrai pagare online o presso i canali abilitati a pagoPA</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell number-list"><img src="../../images/numero-4.png" alt="Numero 4"></div>
                                        <div class="cell vertical-align-top">
                                            <p>In fase di pagamento l'importo si aggiornerà con i costi di notifica</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

</body>

</html>