<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="SEND - Servizio Notifiche Digitali">
    <title><%-title%> &verbar; <%-it_title%></title>
    <link rel="stylesheet" href="../../styles/aar_accessible.css">
    <bookmarks>
        <bookmark name="Dati del mittente della notifica" href="#sender_box"/>
        <bookmark name="Dati della notifica" href="#iun_box"/>
        <bookmark name="Notifica inviata tramite SEND" href="#send_box"/>
        <bookmark name="Oggetto e mittente della notifica" href="#main_subject"/>
        <bookmark name="Codice QR della notifica" href="#qr-code"/>
        <bookmark name="Step di accesso online alla notifica" href="#how_to_online"/>
        <bookmark name="Note legali del documento" href="#footer_disclaimer"/>
    </bookmarks>
</head>

<body>
    <main>
        <!--------------------------- PAGE 1 (297mm x 192mm) --------------------------->
        <section id="first-page">
            <section class="upper-section vertical-align-top">
                <div class="fixed-table">
                    <div class="row">
                        <div class="cell width-50 pl-8 vertical-align-top" id="sender_box">
                            <#if senderLogoBase64??>
            
                                <div class="nine-pt">
                                    <p class="six-pt eight-lh font-uppercase"><%-aar_label%> &verbar; <%-it_aar_label%></p>
                                    <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                                    <div id="sender_logo">
                                        <img src="${senderLogoBase64}" alt="Logo di ${notification.sender.paDenomination}">
                                    </div>
                                </div>
                            <#else>
                        
                                <div class="nine-pt">
                                    <p class="six-pt eight-lh font-uppercase"><%-aar_label%> &verbar; <%-it_aar_label%></p>
                                    <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                                    <div id="empty_logo_subtitle"></div>
                                </div>
                            </#if>
                        </div>
                        
                        <div class="cell width-50 pt-12" id="iun_send">
                            <div class="row">
                                <div id="iun_box" class="iun_box nine-pt cell vertical-align-bottom pb-12">
                                    <p class="font-bold nine-pt ten-lh"><%-iun%>:</p>
                                    <p class="font-bold nine-pt"><%-it_iun%>:</p>
                                    <p>${notification.iun}</p>
                                    <p class="font-bold nine-pt"><%-fiscal_code%> &verbar; <%-it_fiscal_code%>:</p>
                                    <p>${recipient.taxId}</p>
                                </div>
                                <div id="send_box" class="eight-pt cell vertical-align-bottom">
                                    <p class="nine-pt eleven-lh"><%-sent_by%></p>
                                    <p class="nine-pt eleven-lh mb-11"><%-it_sent_by%></p>
                                    <img id="send_box__logo" src="../../images/aar-logo.gif" alt="Logo di SEND - Servizio Notifiche Digitali"/>
                                    <p id="send_box_site" class="eight-pt font-bold">
                                        <a class="black"
                                            href="https://www.notifichedigitali.it/"  title="Sito di SEND - Servizio Notifiche Digitali">notifichedigitali.it</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="recipient-addr-box">
                        <!-- Si lascia lo spazio per l'indirizzo che verra' inserito dal consolidatore -->
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </section>

            <section class="center-section" style="height: 188mm;">
                <h1 id="main_subject" class="twelve-pt sixteen-lh px-12 pt-0">
                    <%-notification_subject_1%> &verbar; <%-it_notification_subject_1%> ${notification.sender.paDenomination} <%-notification_subject_2%> &verbar; <%-it_notification_subject_2%>: 
                    <%-notification_subject_3%></h1>
                <div id="main_disclaimer" class="eleven-pt sixteen-lh">
                    <p><%-aar_subtitles_1%></p>
                    <p class="language-margin"><%-it_aar_subtitles_1%></p>
                </div>
                <div id="view_online_box">
                    <div class="table">
                        <div class="row heading font-bold w-100 twelve-lh">
                            <div class="cell">
                                <h2 class="font-uppercase twelve-pt twelve-lh"><%-access_to_document_title%> &verbar; <%-it_access_to_document_title%></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div class="row">
                        <div class="cell vertical-align-top">
                            <div class="list-box-height_qr_code_box table">
                                <div class="row">
                                    <div class="cell vertical-align-bottom qr_code_box">
                                        <img alt="Il codice QR per accedere alla notifica SEND" id="qr-code" src="${qrCodeQuickAccessLink}" />
                                    </div>
                                    <div class="cell vertical-align-center access_online_box">
                                        <div class="section-list px-12">
                                            <div class="table ten-pt" id="how_to_online">
                                                <div class="row">
                                                    <div class="cell number-list"><img src="../../images/numero-1.jpg" alt="Numero 1"></div>
                                                    <div class="cell vertical-align-top">
                                                        <#if recipient.recipientType=="PF">
                                                            <p><%-access_to_document_1_pf%> <b><%-access_to_document_1_link%></b> &verbar; <%-it_access_to_document_1_pf%>
                                                                <b><%-it_access_to_document_1_link%></b>
                                                            </p>
                                                            <#else>
                                                            <p><%-access_to_document_1_pg%> <b><%-access_to_document_1_link%></b> &verbar; <%-it_access_to_document_1_pg%>
                                                                <b><%-it_access_to_document_1_link%></b>
                                                            </p>
                                                        </#if>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="cell number-list"><img src="../../images/numero-2.jpg" alt="Numero 2"></div>
                                                    <div class="cell vertical-align-top">
                                                        <p><%-access_to_document_2%> &verbar; <%-it_access_to_document_2%></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="cell number-list"><img src="../../images/numero-3.jpg" alt="Numero 3"></div>
                                                    <div class="cell vertical-align-top">
                                                        <p><%-access_to_document_3%> &verbar; <%-it_access_to_document_3%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell vertical-align-bottom">
                            <footer id="footer_disclaimer" class="eight-pt ten-lh">
                                <p><%-send_refinement%> <b><%-send_refinement_link%></b> &verbar;&verbar; <%-it_send_refinement%> <b><%-it_send_refinement_link%></b></p>
                            </footer>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!--------------------------- PAGE 2 (297mm x 192mm) --------------------------->
        <#if recipient.recipientType=="PF">
        <section id="second-page-bilingual">
            <div class="second-page-table">
                <div class="row">
                    <div class="cell vertical-align-top pb-12">
                        <div class="blue-border-box radius-8 io-banner">
                            <div class="table">
                                <div class="row eleven-pt radius-8 w-100" id="io_download">
                                    <div class="cell pt-12 pb-12 pl-12 vertical-align-top width-85">
                                        <p><%-io_content%> &verbar; <%-it_io_content%></p>
                                    </div>
                                    <div class="cell pr-12 width-15 text-right vertical-align-center" id="io_img">
                                        <img src="../../images/app-io.jpg" alt="Logo di app IO" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </#if>

    </main>

</body>

</html>