@font-face {
    font-family: "Titillium Pro";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Titillium_Pro/TitilliumSansPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Titillium Pro";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Titillium_Pro/TitilliumSansPro-Bold.ttf) format('truetype');
}

@page {
    size: A4;
    margin: 0mm;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Titillium Pro", sans-serif;
    font-weight: 400;
    font-size: 14.3px; /*11px on Figma*/
    color: #031344;
    line-height: 18.6px;
}

#first-page {
    margin: 14mm 10mm;
    height: 269mm;
    width: 190mm;
}

#second-page {
    margin: 14mm 10mm 0 10mm;
    padding-top: 14mm;
    width: 190mm;
    height: 269mm;
}

#upper-section,
#center-section,
#lower-section {
    width: 100%;
    margin: 0mm;
}

#upper-section,
#lower-section {
    height: 85mm;
}

#center-section {
    height: 99mm;
    margin-bottom: 20px;
}

#center-section-radd {
    height: 97mm;
}

#lower-section-radd {
    height: 87mm;
}

#upper-section {
    padding: 0 12px;
}

/* font equivalence */
.six-pt {
    font-size: 8px; /* 6px on Figma */
}

.seven-pt {
    font-size: 9.333px; /* 7px on Figma */
}

.eight-pt {
    font-size: 10.667px; /* 8px on Figma */
}

.nine-pt {
    font-size: 12px; /* 9px on Figma */
}

.ten-pt {
    font-size: 13.333px; /* 10px on Figma */
}

.eleven-pt {
    font-size: 14.3px; /* 11px on Figma */
}

.twelve-pt {
    font-size: 16px; /* 12px on Figma */
}

/* line-height equivalence */
.eight-lh {
    line-height: 8px;
}

.eleven-lh {
    line-height: 14.667px; /* 11px on Figma */
}

.sixteen-lh {
    line-height: 21.333px; /* 16px on Figma */
}

.font-bold {
    font-weight: 700;
}


.mb-0 {
    margin-bottom: 0 !important;
}

.pl-2 {
    padding-left: 16px;
}

.pr-2 {
    padding-right: 16px;
}

#sender_logo img {
    height: 53px; /* 40pt on Figma */
}

#sender_box {
    width: 95mm;
    max-width: 95mm;
    height: 23mm;
}

#sender_box p{
    white-space: nowrap;
    overflow: visible;
}

#send_box__logo {
    width: 17mm;
}

#legal_subtitle, #sender_logo {
    margin-top: 8px;
}

#legal_subtitle p {
    width: 67px;
    line-height: 10px;
    border-top: solid 1px;
    padding-top: 7px;
    font-weight: 600;
    letter-spacing: 0.50px;
}

#iun_send {
    max-width: 90mm;
    top: 0;
    right: 0;
    width: 90mm;
    height: 26mm;
}

#iun_box {
    padding-bottom: 0;
}

#iun_box h6 {
    font-size: 12px;
}

#send_box {
    max-width: 25mm;
    width: 50mm;
    height: 26mm;
    line-height: 8px;
    z-index: 1000;
}

#send_box_site {
    bottom: 0;
}

.table {
    display: table;
    width: 100%;
}

.fixed-table {
    table-layout: fixed;
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-center {
    vertical-align: middle;
}

.width-5 {
    width: 5%;
}

.width-15 {
    width: 15%;
}

.width-27 {
    width: 27%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-73 {
    width: 73%;
}

.width-85 {
    width: 85%;
}

.width-95 {
    width: 95%;
}

.logo-prefix, #send_box_site {
    line-height: 6mm;
}

a {
    text-decoration: underline;
    color: #0B3EE3;
}

a.black {
    text-decoration: none;
    color: inherit;
}

.heading {
    width: 100%;
    height: 7.7mm;
    background-color: #DBF9FA;
    font-weight: bold;
}

.font-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1 {
    font-weight: 400;
}

/*********************** center-section *******************/

#main_subject {
    font-weight: 400;
    padding-top: 0mm;
    word-wrap: break-word;
    margin-bottom: 1.5mm;
    padding: 0 12px;
}

#main_disclaimer {
    margin: 5mm 0 1.5mm 0;
    padding: 0 12px;
}

#view_online_box {
    margin-top: 3mm;
}

.heading .cell {
    padding: 1.4mm 3.7mm;
}

.list-box-height_qr_code_box {
    height: 41mm;
}

.qr_code_box {
    width: 40mm;
}

.access_online_box {
    width: 150mm;
    height: 41mm;
}

.section-list ol {
    margin: 2mm 0;
}

.section-list li {
    margin-top: 1.5mm;
}

.section-list .cell {
    padding-top: 7px;
}

.custom-list,
.custom-ol-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-ol-list>li {
    padding-left: 31px;
    margin-bottom: 10px;
}

.number-list {
    padding-right: 5px;
    padding-top: 2px;
}

.number-list img {
    width: 21px;
}

/*********************** lower-section *******************/

#io_download {
    width: 100%;
    height: 83px;
    border-radius: 8px;
    font-size: 14.3px;
}

#io_download h3 {
    padding-bottom: 4px;
}

#io_download {
    height: 45px;
}

#io_img img {
    width: 45px;
}

.blue-border-box {
    border: solid #CED8F9 1px;
    border-radius: 7px;
    padding: 11px;
    margin-bottom: 125px;
}

.blue-border-box-radd {
    border: solid #CED8F9 1px;
    border-radius: 7px;
    padding: 11px;
    margin-top: 37px;
    margin-bottom: 50px;
}

/*********************** page 2 *******************/

.advantages-explanation__content {
    width: 95%;
    margin: 11px auto;
}

.advantages-table {
    padding-top: 24px;
    margin: 0 auto;
    height: 35mm;
}

.advantages-table .cell .advantages-explanation__content {
    width: 85%;
}

.advantage-col {
    width: 33.33%;
}

img.message-advantages_explanation {
    height: 34px;
    margin: 3mm;
    margin-bottom: 1mm;
}

.read-more {
    padding-top: 21px;
}

.retrieve_box {
    margin: 16px;
}

#arrow-img {
    width: 24px;
}