<!DOCTYPE html>

<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title><% if (noIta) { %><%-subject%><br><% } %>  <%-it_subject%></title>
  <meta name="author" content="SEND - Servizio Notifiche Digitali" />
  <link rel="stylesheet" href="../../styles/accessible.css">
  <bookmarks>
    <bookmark name="Oggetto dell'attestazione" href="#subject"/>
    <bookmark name="Elenco codici dei documenti" href="#digests"/>
    <bookmark name="Firma" href="#signature"/>
  </bookmarks>
</head>

<body>
    <header id="header" class="table">
      <div class="row">
        <div class="width-50 cell">
        <img src="../../images/pn-logo-header.png" class="pagopa-logo-header" alt="Logo di PagoPA S.p.A."/>
      </div>
      <div class="width-50 cell right">
        <img src="../../images/send-logo.png" class="send-logo-header" alt="Logo di SEND - Servizio Notifiche Digitali"/>
      </div>
      </div>
    </header>
    <!-- Se il footer viene messo in fondo al documento compare solo nell'ultima pagina -->
    <footer id="footer" class="table">
      <div class="row">
        <div class="cell width-50 left-footer-col">
          <p>PagoPA S.p.A.</p>
          <p>società per azioni con socio unico</p>
          <p>capitale sociale di euro 1000000 interamente versato</p>
          <p>sede legale in Roma, Piazza Colonna 370, CAP 00187</p>
          <p>n. di iscrizione a Registro Imprese di Roma, CF e P.IVA 15376371009</p>
        </div>
        <div class="cell right width-50">
          <img src="../../images/pn-logo-footer.png" alt="Logo PagoPA S.p.A."/>
        </div>
      </div>
    </footer>

    <main>
       <h1 class="document-type subject mb-0" id="subject">
        <% if (noIta) { %><%-subject%><br><% } %>  <%-it_subject%>
      </h1>

      <% if (noIta) { %><p class="paragraph">
        <%-body1%>
      </p><% } %>
      <% if (noIta) { %><p class="paragraph">
        <%-body2%>
      </p><% } %>
      <p class="paragraph">
        <%-it_body1%>
      </p>
      <p class="paragraph">
        <%-it_body2%>
      </p>

      <ul class="paragraph hash-list" id="digests">
        <#list digests as digest>
          <li>
            <strong>${digest}</strong>
          </li>
        </#list>
      </ul>

      <% if (noIta) { %><p class="paragraph">
        <%-body3%>
      </p><% } %>
      <% if (noIta) { %><p>
        <%-body4%>
      </p><% } %>
      <p class="paragraph">
        <%-it_body3%>
      </p>
      <p>
        <%-it_body4%>
      </p>
      
      <#list notification.recipients as recipient>
      <div class="table margin-y-medium">

        <div class="row">
          <div class="cell width-50">
            <p><% if (noIta) { %><span><%-denomination%> &bull; </span><% } %><%-it_denomination%></p>
          </div>
          <div class="cell  width-50">
            <p><b>${recipient.denomination}</b></p>
          </div>
        </div>
        
        <div class="row">
          <div class="cell width-50">
            <p><% if (noIta) { %><span><%-fiscalcode%> &bull; </span><% } %><%-it_fiscalcode%></p>
          </div>
          <div class="cell width-50">
            <p><b>${recipient.taxId}</b></p>
          </div>
        </div>

        <div class="row">
          <div class="cell width-50">
            <p><% if (noIta) { %><span><%-digitaldomicile%> &bull; </span><% } %><%-it_digitaldomicile%></p>
          </div>
          <div class="cell width-50">
            <p><b><#if (recipient.digitalDomicile.address)??>
                  ${recipient.digitalDomicile.address}
                  <#else>
                    non fornito dalla PA
                </#if></b></p>
          </div>
        </div>

        <div class="row">
          <div class="cell width-50">
            <p><% if (noIta) { %><span><%-digitaldomicile_type%> &bull; </span><% } %><%-it_digitaldomicile_type%></p>
          </div>
          <div class="cell width-50">
            <p><b><#if (recipient.digitalDomicile.address)??>
                  Domicilio eletto presso la Pubblica Amministrazione mittente ex art.26, comma 5 lettera b del D.L.
                  76/2020
                  <#else>
                    non fornito dalla PA
                </#if></b></p>
          </div>
        </div>
        <div class="row">
          <div class="cell width-50">
            <p><% if (noIta) { %><span><%-address%> &bull; </span><% } %><%-it_address%></p>
          </div>
          <div class="cell width-50">
            <p><b><#if (recipient.physicalAddressAndDenomination)??>${recipient.physicalAddressAndDenomination}<#else>non presente</#if></b></p>
          </div>
        </div>

      </div>
      </#list>

      <div class="margin-top-large table" id="signature">
          <div class="row">
            <div class="cell width-10" aria-hidden="true"></div>
            <div class="cell width-90 right">
              <p class="py-16"><% if (noIta) { %><span><%-signature%> &bull; </span><% } %><%-it_signature%></p>
            </div>
          </div>
      </div>
      <% if (noIta) { %>
      <div class="table">
          <div class="row">
            <div class="cell width-40" aria-hidden="true"></div>
            <div class="margin-top-large cell width-60 right">
              <% if (noIta) { %><p class="py-16"><%-disclaimer_lang%></p><% } %>
              <% if (noIta) { %><p><%-it_disclaimer_lang%></p><% } %>
            </div>
          </div>
      </div>
      <% } %>
    </main>
</body>

</html>