<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="SEND - Servizio Notifiche Digitali">
    <title>Avviso di Avvenuta Ricezione</title>
    <link rel="stylesheet" href="../../styles/aar_accessible.css">
    <bookmarks>
        <bookmark name="Dati del mittente della notifica" href="#sender_box"/>
        <bookmark name="Dati della notifica" href="#iun_box"/>
        <bookmark name="Notifica inviata tramite SEND" href="#send_box"/>
        <bookmark name="Oggetto e mittente della notifica" href="#main_subject"/>
        <bookmark name="Codice QR della notifica" href="#qr-code"/>
        <bookmark name="Step di accesso online alla notifica" href="#how_to_online"/>
        <bookmark name="Vantaggi dell'utilizzo di SEND tramite app IO" href="#io_download"/>
        <bookmark name="Note legali del documento" href="#footer_disclaimer"/>
        <bookmark name="Informazioni sulle deleghe su SEND" href="#mandate_infobox"/>
        <bookmark name="Note legali del documento" href="#footer_disclaimer"/>
        <bookmark name="Vantaggi dell'utilizzo di SEND" href="#advantages_infobox"/>
    </bookmarks>
</head>

<body>
<main>
  <!--------------------------- PAGE 1 (297mm x 192mm) --------------------------->
  <section id="first-page">
    <section class="upper-section">
        <div class="fixed-table">
            <div class="row">
                <div class="cell vertical-align-top width-85 pl-8" id="sender_box">
                    <#if senderLogoBase64??>
    
                        <div class="nine-pt">
                            <p class="six-pt eight-lh">COMUNICAZIONE A VALORE LEGALE</p>
                            <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                            <div id="sender_logo">
                                <img src="${senderLogoBase64}" alt="Logo di ${notification.sender.paDenomination}">
                            </div>
                        </div>
                    <#else>
                
                        <div class="nine-pt mt-8">
                            <p class="font-bold ten-pt">${notification.sender.paDenomination}</p>
                            <div id="legal_subtitle">
                                <p class="six-pt">COMUNICAZIONE A VALORE LEGALE</p>
                            </div>
                        </div>
                    </#if>
                </div>
                
                <div class="cell width-15 pt-12 eight-pt cell vertical-align-bottom" id="send_box">
                    <p class="nine-pt logo-prefix">Inviata tramite</p>
                    <img id="send_box__logo" src="../../images/aar-logo.gif" alt="Logo di SEND - Servizio Notifiche Digitali"/>
                    <p id="send_box_site" class="eight-pt font-bold"><a class="black"
                            href="https://www.notifichedigitali.it/" title="Sito di SEND - Servizio Notifiche Digitali">notifichedigitali.it</a></p>
                </div>
            </div>
            <div class="row" id="recipient-addr-box">
                <!-- Si lascia lo spazio per l'indirizzo che verra' inserito dal consolidatore -->
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>

    <section class="center-section" class="mb-0 vertical-align-bottom">
        <h1 id="main_subject" class="twelve-pt sixteen-lh px-12 pt-0">Hai ricevuto una comunicazione a valore legale da ${notification.sender.paDenomination} con oggetto: ${notification.subject}</h1>
        <div id="main_disclaimer" class="eleven-pt sixteen-lh">
            <p><b>Accedi subito ai documenti online</b> seguendo le istruzioni, o se preferisci, ritira i documenti in
            forma cartacea presso uno dei Punti di ritiro SEND (CAF e altri esercenti convenzionati). Tieni presente che
            il contenuto della comunicazione produrrà effetti giuridici nei tuoi confronti anche senza la tua presa
            visione.
            </p>
        </div>
        <div id="view_online_box">
            <div class="table">
                <div class="row heading w-100 font-bold">
                    <div class="cell"><h2 class="font-uppercase twelve-pt">Opzione 1: Accedi ora ai documenti online</h2></div>
                    <div class="cell text-right nine-pt">Consultazione online gratuita</div>
                </div>
            </div>
        </div>

        <div class="table list-box-height_qr_code_box">
            <div class="row">
                <div class="cell vertical-align-center qr_code_box">
                    <img alt="Il codice QR per accedere alla notifica SEND" id="qr-code" src="${qrCodeQuickAccessLink}" />
                </div>
                <div class="cell vertical-align-center access_online_box">
                    <div class="section-list px-12">
                        <!--
                            Related to https://pagopa.atlassian.net/browse/PN-14670
                            we use hard-coded link in order to fix this bug. Anyway this part is commented
                            because we will restore it as soon as we migrate configurations of templates
                            in pn-templates-engine

                            #Sarah Donvito, 18/04/2025

                        <li class="list_element-one">
                            Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure
                            vai sul sito web <b><a
                                    href="${piattaformaNotificheURL}auth/login">${piattaformaNotificheURLLabel}</a></b>
                        </li>
                        -->
                        <div class="table">
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-1.png" alt="Numero 1"></div>
                                <div class="cell vertical-align-top">
                                    <#if recipient.recipientType=="PF">
                                        <p>
                                            Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure vai sul sito web <b>
                                            <a href="https://login.notifichedigitali.it/auth/login" title="Piattaforma SEND - Servizio Notifiche Digitali">login.notifichedigitali.it</a>
                                        </b>
                                        </p>
                                        <#else>
                                        <p>
                                            Inquadra il <b>codice QR</b> con la fotocamera del tuo dispositivo oppure vai sul sito web <b>
                                            <a href="${piattaformaNotificheURL}auth/login" title="Piattaforma SEND - Servizio Notifiche Digitali">${piattaformaNotificheURLLabel}</a>
                                        </b>
                                        </p>
                                    </#if>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-2.png" alt="Numero 2"></div>
                                <div class="cell vertical-align-top">
                                    <p>Accedi e scarica i documenti: contengono informazioni importanti che ti riguardano</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-3.png" alt="Numero 3"></div>
                                <div class="cell vertical-align-top">
                                    <p>Se previsto un pagamento, potrai pagare online o presso i canali abilitati a pagoPA</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-4.png" alt="Numero 4"></div>
                                <div class="cell vertical-align-top">
                                    <p>In fase di pagamento l'importo si aggiornerà con gli eventuali costi di notifica relativi alla spedizione della raccomandata (fino a 24,00€ in Italia)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lower-section">
        <div class="table">
          <div class="row heading w-100 font-bold">
              <div class="cell"><h2 class="font-uppercase twelve-pt">Opzione 2: Ritira i documenti di persona</h2></div>
              <div class="cell text-right nine-pt width-40">Servizio di stampa a pagamento</div>
          </div>
        </div>

        <#if recipient.recipientType=="PF">
        <div class="table">
        <#else>
        <div class="table" style="margin-bottom: 40mm;">
        </#if>
            <div class="row">
              <div class="cell p-12">
                <p>Puoi farlo tu o delegare una persona di fiducia. Segui le istruzioni sul retro del foglio.</p>
              </div>
              <div class="cell p-12 text-right">
                <img id="arrow-img" src="../../images/arrow.jpg" alt="Freccia: istruzioni alla pagina seguente"/>
              </div>
            </div>
        </div>

        <#if recipient.recipientType=="PF">
        <div class="table blue-border-box-radd radius-8">
            <div class="row eleven-pt radius-8 w-100" id="io_download">
                <div class="cell pt-12 pb-12 pl-12 vertical-align-top width-85">
                        <h3 class="twelwe-pt font-uppercase">Con l'app IO è ancora più semplice e risparmi</h3>
                        <p>Ricevi le prossime comunicazioni a valore legale sul tuo dispositivo e risparmia sui costi della raccomandata: scarica gratis l'app IO e attiva il servizio SEND - Notifiche Digitali.</p>
                </div>
                <div class="cell pr-12 width-15 text-right vertical-align-center" id="io_img">
                    <img src="../../images/app-io.jpg" alt="Logo di app IO" />
                </div>
            </div>
        </div>

        <footer id="footer_disclaimer" class="eight-pt">
        <#else>
        <footer id="footer_disclaimer" class="eight-pt" style="margin-top: 170px;">
        </#if>
            <p>Il presente documento è una comunicazione a valore legale che ti invita a prendere visione dei documenti a te notificati e che avranno conseguenze nei tuoi confronti in ogni caso. Se previsto un pagamento, l'importo da pagare dipenderà dalla modalità che scegli per accedere alla notifica, dalla tipologia dell'eventuale raccomandata a te inviata e scelta dall'ente, dal numero di tentativi di recapito.  <br>
            Hai 120 giorni dalla data in cui la notifica assume valore di legge per accedere ai documenti online o ritirarli di persona. Trascorsi i 120 giorni, i documenti non saranno più disponibili e dovrai rivolgerti all'ente che te li ha inviati. Scopri di più su come calcolare i tempi su <b><a href="${perfezionamentoURL}" title="FAQ: perfezionamento notifica SEND">www.${perfezionamentoURLLabel}</a></b></p>
        </footer>
    </section>
  </section>

    <!--------------------------- PAGE 2 (297mm x 192mm) --------------------------->
    <section id="second-page">
        <section class="retrieve_info_box" id="" style="background-color:red">
            <div class="table">
                <div class="row heading w-100 font-bold">
                    <div class="cell"><h2 class="font-uppercase twelve-pt">Opzione 2: Ritira i documenti di persona</h2></div>
                    <div class="cell text-right nine-pt width-40">Servizio di stampa a pagamento</div>
                </div>
            </div>

            <div id="access_yourself_box" class="table section-list pl-12">
                <div class="row">
                    <div class="cell width-60 vertical-align-top">
                        <div class="table access_yourself_list">
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-1.png" alt="Numero 1"></div>
                                <div class="cell vertical-align-top">
                                    <p>Cerca il Punto di ritiro SEND più vicino a te su <br> <b><a href="https://www.notifichedigitali.it/punti-di-ritiro" title="Pagina dei Punti di ritiro SEND">www.notifichedigitali.it/punti-di-ritiro</a></b> oppure chiama il <br>numero <b>${raddPhoneNumber}</b>
                                </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-2.png" alt="Numero 2"></div>
                                <div class="cell vertical-align-top">
                                    <p>Recati al punto di ritiro portando con te: 
                                        <ul id="square-list">
                                            <li>questo avviso</li>
                                            <li>un tuo documento di riconoscimento</li>
                                            <li>il tuo codice fiscale<#if recipient.recipientType=="PF"></li>
                                            <#else></li>
                                            <li>un documento che attesti il tuo ruolo di legale rappresentante</li>
                                        </#if>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell number-list"><img src="../../images/numero-3.png" alt="Numero 3"></div>
                                <div class="cell vertical-align-top">
                                    <p>Paga 1,40 € per il servizio di stampa e ritira i documenti</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell width-40 pl-72 vertical-align-top">
                        <div class="iun_box_radd ten-pt blue-border-iun radius-8">
                            <div id="iun-code" class="eight-px">
                                <p class="font-bold nine-pt">Identificativo Univoco Notifica:</p>
                                <p>${notification.iun}</p>
                                <p class="font-bold nine-pt">Codice fiscale - Persona <#if recipient.recipientType=="PF">fisica<#else>giuridica</#if>: </p>
                                <p>${recipient.taxId}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="row w-100">
                    <p style="margin-top: 8mm;">Se presente un avviso pagoPA paga presso un canale abilitato oppure online. In fase di pagamento l'importo si aggiornerà con gli eventuali costi di notifica relativi alla spedizione della raccomandata (fino a 24,00€ in Italia).</p>
                </div>
            </div>
        </section>

        <section class="mandate-section"  style="background-color:green">
            <div id="mandate_box" class="blue-border-iun radius-8">
                <p class="font-bold title">
                    Vuoi che qualcuno ritiri i documenti per te?
                </p>
                <div class="table">
                    <div class="row">
                        <div class="cell width-50">
                            <#if recipient.recipientType=="PF">
                            <p>Io, ${recipient.denomination} ${recipient.taxId}, delego</p>
                            <#else>
                                <div>
                                <p>Io,  <span class="nine-px eleven-lh form-field border-bottom mb-form mt-0">
                                    Nome e Cognome
                                </span></p>
                                in qualità di legale rappresentante di ${recipient.denomination} ${recipient.taxId}, delego
                                </div>
                            </#if>
                            <div class="nine-px eleven-lh border-bottom mb-form">
                            Nome e Cognome
                            </div>
                            <div class="nine-px eleven-lh border-bottom mb-form">
                            Codice Fiscale
                            </div>
                            a ritirare i documenti notificati.
                            <div class="nine-px eleven-lh border-bottom mb-0">
                            Firma
                            </div>
                        </div>
                        <div class="cell width-50 cell-large-spacing">
                            <p>La persona delegata dovrà portare con sé:</p>
                            <ul id="square-list-mandate">
                                <li >questo avviso con la delega compilata e firmata</li>
                                <li class="number-list">un suo documento di riconoscimento</li>
                                <li class="number-list">il suo codice fiscale</li>
                                <li class="number-list">una copia o l'originale del codice fiscale e di un documento di riconoscimento del delegante<#if recipient.recipientType=="PF"></li>
                                <#else></li>
                                    <li>un documento che attesti il ruolo di legale rappresentante del delegante</li>
                                </#if>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <#if recipient.recipientType=="PF">
        <section id="help_box" class="vertical-align-bottom"  style="background-color:purple">
            <h2 class="ten-pt font-uppercase text-center">HAI DIFFICOLTÀ A USARE I CANALI DIGITALI? PUOI FARTI AIUTARE DA UNA PERSONA DI FIDUCIA</h2>
            <p class="advantages-explanation__content text-center width-85"> Con SEND puoi dare accesso alle tue comunicazioni a valore legale a una o più persone di fiducia: accedi a SEND per creare una delega digitale. SEND è il servizio digitale che semplifica l'invio delle comunicazioni a valore legale della Pubblica Amministrazione.</p>

            <div class="table advantages-table">
                <div class="advantages-row nine-pt row">
                    <div class="advantage-col cell text-center">
                        <div class="message-advantages_explanation icon-time"></div>
                        <div class="advantages-explanation__content">
                            <p>
                                <b>Non perdi tempo</b><br>
                                Non serve più ritirare fisicamente le raccomandate
                            </p>
                        </div>
                    </div>
                    <div class="advantage-col cell text-center">
                        <div class="message-advantages_explanation icon-earth"></div>
                        <div class="advantages-explanation__content">
                            <p>
                                <b>Non importa dove sei</b><br>
                                La persona delegata può accedere ai tuoi documenti online
                            </p>
                        </div>
                    </div>
                    <div class="advantage-col cell text-center">
                        <div class="message-advantages_explanation icon-control"></div>
                        <div class="advantages-explanation__content">
                            <p>
                                <b>Hai sempre il controllo</b><br>
                                Puoi revocare o modificare le deleghe in qualsiasi momento
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="read-more text-center">
                <p>Per saperne di più vai sul sito SEND <b><a href="https://www.notifichedigitali.it/" title="Sito di SEND - Servizio Notifiche Digitali">www.notifichedigitali.it</a></b></p>
            </div>
            <section id="voc_box" class="vertical-align-bottom blue-border-box-radd radius-8 eleven-pt pt-12 pb-12 pl-12">
                <h3 class="twelwe-pt font-uppercase">Abbiamo bisogno della tua opinione per migliorare</h3>
                <p>Condividendo con noi la tua opinione sulla ricezione della notifica e l’accesso ai documenti, ci aiuti a migliorare il servizio SEND: la compilazione richiede pochi istanti. Raccontaci la tua esperienza al link <a href="www.linkvoc.it" title="Sito per la raccolta delle opinioni dei cittadini">www.linkvoc.it</a></p>
            </section>
        </section>
        
        </#if>

    </section>
</main>
</body>
</html>
