<!DOCTYPE html>

<html lang="it">

<head>
    <#if endWorkflowStatus=="SUCCESS">
    <title><% if (noIta) { %><%-subject_success%> &bull; <% } %><%-it_subject_success%></title>
        <#else>
        <title><% if (noIta) { %><%-subject_failure%> &bull; <% } %><%-it_subject_failure%></title>
    </#if>
    <meta name="author" content="SEND - Servizio Notifiche Digitali" />
    <link rel="stylesheet" href="../../styles/accessible.css">
    <bookmarks>
        <bookmark name="Oggetto dell'attestazione" href="#subject"/>
        <bookmark name="Firma" href="#signature"/>
    </bookmarks>
</head>

<body>
    <header id="header" class="table">
        <div class="row">
        <div class="width-50 cell">
        <img src="../../images/pn-logo-header.png" class="pagopa-logo-header" alt="Logo di PagoPA S.p.A."/>
        </div>
        <div class="width-50 cell right">
        <img src="../../images/send-logo.png" class="send-logo-header" alt="Logo di SEND - Servizio Notifiche Digitali"/>
        </div>
        </div>
    </header>
    <!-- Se il footer viene messo in fondo al documento compare solo nell'ultima pagina -->
    <footer id="footer" class="table">
      <div class="row">
        <div class="cell width-50 left-footer-col">
          <p>PagoPA S.p.A.</p>
          <p>società per azioni con socio unico</p>
          <p>capitale sociale di euro 1000000 interamente versato</p>
          <p>sede legale in Roma, Piazza Colonna 370, CAP 00187</p>
          <p>n. di iscrizione a Registro Imprese di Roma, CF e P.IVA 15376371009</p>
        </div>
        <div class="cell right width-50">
          <img src="../../images/pn-logo-footer.png" alt="Logo PagoPA S.p.A."/>
        </div>
      </div>
    </footer>
    
    <main>
        <#if endWorkflowStatus=="SUCCESS">
            <h1 class="document-type subject mb-0" id="subject"><% if (noIta) { %><%-subject_success%><br><% } %>  <%-it_subject_success%></h1>
        <#else>
            <h1 class="document-type subject mb-0" id="subject"><% if (noIta) { %><%-subject_failure%><br><% } %>  <%-it_subject_failure%></h1>
        </#if>

        <% if (noIta) { %><p class="paragraph my-8">
            <%-body1%>
        </p><% } %>
        <% if (noIta) { %><p class="paragraph my-8">
            <%-body2%>
        </p><% } %>

        <p class="paragraph mb-0">
            <%-it_body1%>
        </p>
        <p class="paragraph my-8">
            <%-it_body2%>
        </p>

        <#list deliveries as delivery>
        <div class="table margin-y-medium avoid-page-break">
            <div class="row">
                <div class="cell width-50">
                    <p><% if (noIta) { %><span><%-denomination%> &bull; </span><% } %><%-it_denomination%></p>
                </div>
                <div class="cell  width-50">
                    <p><b>${delivery.denomination}</b></p>
                </div>
            </div>
            
            <div class="row">
                <div class="cell width-50">
                    <p><% if (noIta) { %><span><%-fiscalcode%> &bull; </span><% } %><%-it_fiscalcode%></p>
                </div>
                <div class="cell width-50">
                    <p><b>${delivery.taxId}</b></p>
                </div>
            </div>

            <div class="row">
                <div class="cell width-50">
                    <p><% if (noIta) { %><span><%-digitaldomicile%> &bull; </span><% } %><%-it_digitaldomicile%></p>
                </div>
                <div class="cell width-50">
                    <p>
                        <#if delivery.address??>
                            <#if delivery.type=="SERCQ">
                                <b>Domicilio Digitale SEND</b>
                                <#else>
                                    <b>${delivery.address}</b>
                            </#if>
                            <#else>
                                non presente
                        </#if>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="cell width-50">
                    <p><% if (noIta) { %><span><%-digitaldomicile_type%> &bull; </span><% } %><%-it_digitaldomicile_type%></p>
                </div>
                <div class="cell width-50">
                    <p>
                        <#if delivery.addressSource??>
                            <#if delivery.addressSource=="PLATFORM">
                                <strong>Domicilio di Piattaforma ex art.26, comma 5 lettera c del D.L.
                                    76/2020</strong>
                                <#elseif delivery.addressSource=="SPECIAL">
                                    <strong>Domicilio eletto presso la Pubblica Amministrazione mittente ex art.26,
                                        comma 5 lettera b del D.L. 76/2020</strong>
                                    <#elseif delivery.addressSource=="GENERAL">
                                        <strong>Domicilio generale inserito nei registri pubblici ex art.26, comma 5
                                            lettera a del D.L. 76/2020</strong>
                            </#if>
                            <#else>
                                non presente
                        </#if>
                    </p>
                </div>
            </div>
        </div>

        <#if delivery.ok>
            <% if (noIta) { %><p class="paragraph my-8">
                <%-body3_success%>
            </p><% } %>
            <p class="paragraph my-8">
                <%-it_body3_success%>
            </p>
            <#else>
                <% if (noIta) { %><p class="paragraph my-8">
                    <%-body3_failure%>
                </p><% } %>
                <p class="paragraph my-8">
                    <%-it_body3_failure%>
                </p>
        </#if>
        </#list>

        <#if endWorkflowStatus !="SUCCESS">
            <% if (noIta) { %><p class="paragraph my-8">
                <%-body4_failure%>
            </p><% } %>
            <p class="paragraph my-8">
                <%-it_body4_failure%>
            </p>
        </#if>

        <div class="margin-top-large table" id="signature">
            <div class="row">
                <div class="cell width-10" aria-hidden="true"></div>
                <div class="cell width-90 right">
                <p class="py-16"><% if (noIta) { %><span><%-signature%> &bull; </span><% } %><%-it_signature%></p>
                </div>
            </div>
        </div>
        <% if (noIta) { %>
        <div class="table avoid-page-break">
            <div class="row">
                <div class="cell width-40" aria-hidden="true"></div>
                <div class="margin-top-large cell width-60 right">
                <% if (noIta) { %><p class="py-16"><%-disclaimer_lang%></p><% } %>
                <% if (noIta) { %><p><%-it_disclaimer_lang%></p><% } %>
                </div>
            </div>
        </div>
        <% } %>
    </main>
</body>

</html>